<h1>{{name}}</h1>
<div class="country-box">
    <div class="info">
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <p>Languages:</p>
        <ul>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="image">
        <img src="{{flag}}" alt="Flag of {{name}}">
    </div>
</div>